<form [formGroup]="formFilter" class="form">
  <div class="input-container">
    <input id="search" class="input" type="text" formControlName="searchById" placeholder=" " />
    <div class="cut"></div>
    <label for="search" class="placeholder">Search by Id</label>
  </div>
  <div class="input-container">
    <select id="soulStatus" class="input" formControlName="soulStatus">
      <option value="-1" selected="selected">-Select Status-</option>
      <option value="0">Alive</option>
      <option value="1">Dead</option>
    </select>
    <div class="cut"></div>
    <label for="soulStatus" class="placeholder">Status</label>
  </div>
  <div class="input-container">
    <input id="createdDate" class="input" type="date" min="2000-01-01" formControlName="createdDate" />
    <div class="cut"></div>
    <label for="createdDate" class="placeholder">Created date</label>
  </div>
  <div class="input-container">
    <input id="updatedDate" class="input" type="date" min="2000-01-01" formControlName="updatedDate" />
    <div class="cut"></div>
    <label for="updatedDate" class="placeholder">Updated date</label>
  </div>
</form>
