node_modules/
.output/
.nuxt/
dist/
typechain-types/
.vercel/

.svelte-kit/
.mesh/
generated/

.vscode/

# Contracts
abi/ #TODO: Move to generated folder
artifacts/
cache/

pnpm-lock.yaml

# Generated
formatters.ts
i18n-*.ts
