.header {
    display: flex;
    align-items: center;
    background-color: #0C0808;
    padding-left: 1rem;
    height: 3rem;

    &__logo {
        margin-right: 2rem;
    }

    &__title {
        font-family: var(--font-secondary);
    }
}
@media only screen and (max-width: 768px) { 
    .header {
        margin-bottom: 2rem;
    }
}
