/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

img.leaflet-tile,
img.leaflet-marker-icon,
img.leaflet-marker-shadow {
	/* work-around from here: https://github.com/Leaflet/Leaflet/issues/161 */
	outline: 2px solid transparent;
	/* work-around from here: https://bugs.chromium.org/p/chromium/issues/detail?id=600120 */
	mix-blend-mode: plus-lighter;
}
