@import url('https://fonts.googleapis.com/css2?family=VT323&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

html {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-white);
}

.font-secondary {
  font-family: var(--font-secondary);
  padding-bottom: 1rem;
}

h1, h2, h3, h4, form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

.text--xxxl {
  font-size: var(--text-xxxl);
}

h1, .text--xxl {
  font-size: var(--text-xxl);
}

h2, .text--xl {
  font-size: var(--text-xl);
}

h3, .text--lg {
  font-size: var(--text-lg);
}

h4, .text--md {
  font-size: var(--text-md);
}

.text--sm, small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

a {
  color: var(--color-link);

  &:visited {
      color: var(--color-link-visited);
  }
}

b, strong {
  font-weight: bold;
}

.text-container {
  h2, h3, h4 {
      margin-top: var(--space-sm);
  }

  ul, ol, p {
      margin-bottom: var(--space-md);
  }

  ul, ol {
  list-style-position: outside;
      padding-left: 24px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
  }

  ul li, ol li {
      line-height: var(--body-line-height);
  }

  em {
      font-style: italic;
  }

  u {
      text-decoration: underline;
  }
}
