.soul {
  &__content {
    display: flex;
    padding: 1rem;
  }

  &__details {
    border: 2px solid var(--color-primary);
    border-radius: .5rem;
    padding: 1rem;
    p {
      padding-bottom: .5rem;
    }
    h2 {
      padding-bottom: 1rem;
      letter-spacing: 2px;
    }
  }

  &__image {
    padding-right: 2rem;
  }

  &__link {
    padding: 1rem;
    a {
      transition: all .2s ease-in;
      &:hover {
        letter-spacing: 1px;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .soul {
    &__content {
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__details {
      max-width: 26rem;
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &__image {
      padding-right: 0;
      padding-bottom: 2rem;
    }
  }
}
@media screen and (max-width: 480px){
  .soul {
    &__details {
      max-width: 17rem;
    }
  }
}
