img {
  max-width: 100%;
  border-radius: .5rem;
}

.traits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-auto-rows: .5fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: .5rem 0;
}
