<h1 class="font-secondary">Properties</h1>
<div class="properties">
  <p *ngIf="properties?.tokenId"><b>Token id:</b> {{ properties?.tokenId }}</p>
  <p *ngIf="properties?.computeURI">
    <b>Compute URI: </b>
    <a [href]="properties?.computeURI" target="_blank" [title]="properties?.computeURI">{{ properties?.computeURI }}</a>
  </p>
  <p *ngIf="properties?.taxonId"><b>Taxon id:</b> {{ properties?.taxonId }}</p>
  <div class="prides" *ngIf="prides"><b>Prides:</b><p *ngFor="let item of prides" [ngClass]="{'prides__item': item}">{{item}}</p>
  </div>
  <div *ngIf="properties?.metadata as mtd" class="properties__traits">
    <div *ngFor="let att of filterAttributes(mtd.attributes)" class="trait">
      <p>{{ att.trait_type }}</p>
      <h3>{{ att.value.toString().replaceAll('_', ' ') || '-' }}</h3>
    </div>
  </div>
</div>
