.font-secondary {
  margin-top: 2rem;
}

.properties {
  border: 2px solid var(--color-primary);
  border-radius: .5rem;
  padding: 1rem;

  p {
    padding-bottom: .5rem;
  }
}

@media screen and (max-width: 768px){
  .properties {
    max-width: 26rem;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media screen and (max-width: 480px){
  .properties {
    max-width: 17rem;
  }
}

