name: Code Quality

on:
  push:
  pull_request:

jobs:
  code-quality:
    timeout-minutes: 60
    runs-on: ubuntu-22.04
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      TURBO_REMOTE_ONLY: true
      DIRECTUS_API_KEY: ${{ secrets.DIRECTUS_API_KEY }}
      PUBLIC_WALLET_CONNECT_PROJECT_ID: ${{ secrets.PUBLIC_WALLET_CONNECT_PROJECT_ID }}
      OPEN_SEA_API_KEY: ${{ secrets.OPEN_SEA_API_KEY }}
      ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}
      NFTSCAN_API_KEY: ${{ secrets.NFTSCAN_API_KEY }}
      VERCEL_URL: 'empty'
      PUBLIC_WEB3INBOX_ALL_APPS: false
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
      - run: corepack enable
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm i
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
  deploy-workers:
    needs: code-quality
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    name: Deploy Workers
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
        with:
          fetch-depth: 0
      - run: corepack enable
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: '20'
          cache: 'pnpm'
      - name: Deploy @sni/api
        uses: cloudflare/wrangler-action@f84a562284fc78278ff9052435d9526f9c718361 # v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          workingDirectory: './apps/api'
          packageManager: 'pnpm'
          environment: 'production'
